<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <!-- Set title to 2D Gradient Descent Demo -->
    <title>2D Gradient Descent Demo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
    <!-- Import main.js -->
    <!-- <script src='main.js'></script> -->
    <script src="{{url_for('static', filename='main.js')}}"></script>

    <!-- Setup bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- 
    This gradient descent demo allows the user to click and drag a point around in the parameter space
    The x and y coordinates of the point are used as the slope and intercept for a line
    The user experiments with different points to find the best fit line for the data
 -->

<body>
    <!-- Center the content and give the page a title -->
    <div class="container">
        <h1 class="text-center">2D Gradient Descent Demo</h1>

        <!-- create two canvases, one for the parameter space and one for the data space with black backgrounds -->
        <div class="row">
            <div class="col">
                <!-- Give the parameter space a title -->
                <h3 class="text-center">Parameter Space</h3>
                <!-- Center the canvas -->
                <div class="text-center">
                    <!-- Create the parameter space p5js canvas -->
                    <div id="parameterSpace">
                    </div>

                    <!-- Add toggles for "loss" and "gradient" -->
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="lossToggle">
                                <label class="form-check-label" for="lossToggle">
                                    Show Loss Surface
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="gradientToggle">
                                <label class="form-check-label" for="gradientToggle">
                                    Show Gradient
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Add a dropdown to select the loss function -->
                    <div class="row mt-3">
                        <div class="col">
                            <label for="lossFunction">Loss Function</label>
                            <select class="form-control" id="lossFunction">
                                <option value="custom">Custom Loss Function</option>
                                <option value="mae">Mean Absolute Error</option>
                                <option value="mse">Mean Squared Error</option>
                                <option value="huber">Huber Loss</option>
                            </select>
                        </div>
                    </div>
                    <!-- Add a row that lets the user enter a custom loss function -->
                    <div class="row mt-3">
                        <div class="col">
                            <label for="customLossFunction">Custom Loss Function</label>
                            <input type="text" class="form-control" id="customLossFunction" placeholder="Enter a custom loss function" oninput="updateCustomLossFunction()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- Give the data space a title -->
                <h3 class="text-center">Data Space</h3>
                <!-- Center the canvas -->
                <div class="text-center">
                    <!-- Create the data space p5js canvas -->
                    <div id="dataSpace">
                    </div>
                    
                    <div class="row">
                        <!-- Add a reset data button -->
                        <div class="col">
                            <button type="button" class="btn btn-primary" id="resetData">Reset Data</button>
                        </div>
                        <!-- Add a optimize button -->
                        <div class="col">
                            <button type="button" class="btn btn-primary" id="optimize">Optimize</button>
                        </div>
                        <!-- Add a clear data button -->
                        <div class="col">
                            <button type="button" class="btn btn-primary" id="clearData">Clear Data</button>
                        </div>
                    </div>
                    <!-- Add a slider to control the learning rate -->
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-group">
                                <label for="learningRate" id="learningRateLabel">Learning Rate: 0.0010</label>
                                <input type="range" class="custom-range" id="learningRate" min="-4" max="1" step="0.001" value="-3">
                            </div>
                        </div>
                    </div>
                    <!-- Allow the user to set the batch size as a percentage of the total data with a range input -->
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-group">
                                <label for="batchSize" id="batchSizeLabel">Batch Size: 100%</label>
                                <input type="range" class="custom-range" id="batchSize" min="0" max="100" step="1" value="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add a row explaining what this demo is -->
            <div class="row">
                <div class="col">
                    <h3>What do I do?</h3>
                    <ol>
                    <!-- explain what dragging the parameter ball does -->
                        <li>
                            Click and drag the ball in the parameter space to change the slope and intercept of the line.
                            The x-coordinate of the ball controls the slope and the y-coordinate controls the intercept.
                            Observe how the loss displayed in the top left of the parameter space changes as the line fits the data better or worse.
                        </li>
                        <!-- explain what the loss surface heatmap is -->
                        <li>
                            Click the "Show Loss Surface" checkbox to display a heatmap of the loss function over the parameter space.
                            The heatmap shows which locations in the parameter space map to higher/lower loss values.
                            Imagine the loss as a 3D surface over the parameters where the z-axis is the loss value.
                            In this case, we are looking down into a bowl shape.
                        </li>
                        <!-- explain what the gradient vectors are -->
                        <li>
                            Click the "Show Gradient" checkbox to display the gradient vectors at each point in the parameter space.
                            The gradient vectors point up the slope of the loss surface.
                            Moving the parameter ball in the opposite direction of the gradient vector (downhill) will decrease the loss, and
                            optimize the line to fit the data.
                        </li>

                        <li>
                            Click the "Optimize" button to start gradient descent.
                            When the ball finds a good fit, the data will be reset and the process will start over.
                        </li>

                        <li>
                            Experiment by adjusting the learning rate and loss function to see how they affect the optimization process.
                            You may notice that there is a "sweet spot" for the learning rate that is different depending on the loss function.
                        </li>

                        <li>
                            Click the "Clear Data" button to clear the data, then click around in the Data Space to add new data points.
                            Experiment with how different data points affect the loss surface and the gradient vectors.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        
        
</body>

</html>